body {
  font-family: 'Sarabun', sans-serif;
}

.formColor{
  background-color: #b8b7a3;
  min-height: 100vh;
}

.titleBgColor{
  background-color: #f0e3d3;
}

h1,
p,
span {
  font-family: 'Roboto', 'Sarabun', sans-serif; /* ฟอนต์ภาษาอังกฤษเป็น Roboto, ฟอนต์ภาษาไทยเป็น Sarabun */
  font-weight: 500; /* ใช้ font-weight 300 สำหรับ Thin */
}
